* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html,
body {
    font-size: 62.5%;
    font-family: "Nunito", sans-serif;
}

/* DARK LIGHT THEME */
:root {
    /* Màu Chữ button nền trắng */
    --primary-color: #dc4f72;
    /* Màu chữ thường nền trắng */
    --secondary-color: #0d5fa8;
    /* Màu chữ tiêu đề nền trắng */
    --font-color: #2C3038;
    --text-color: #5a5a5a;
    /* màu bg */
    --bg-color: white;
    --light-bg-color: #F7F9FC;
    --heading-color: #292922;
    /* màu border */
    --border-color: #eee;
    /* di chuyển */
    --transformY: translateY(-0.5rem);
    --card-hover-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
    --card-box-shadow: 1px 5px 7.5px rgba(14, 13, 13, 0.2);
    --iframe-filter: grayscale(0%);
    --card-curve: 6px;
    --bg-color-light: #fff;
    --bg-lightgrey: #f7f7f7;
    --border-color-light: #f8f9fa;
    --font-size-primary: 1.6rem;
    --font-size-title: 3.5rem;
    --font-size-text: 1.65rem;
}

[data-theme="dark"] {
    /* Màu chữ button nền đen */
    --primary-color: #dc4f72;
    /* Màu chữ thường nền trắng */
    --secondary-color: #0d5fa8;
    /* Màu chữ tiêu đề nền trắng */
    --font-color: #eee;
    --text-color: #b7b7b7;
    /* Màu bg */
    --bg-color: #333;
    --heading-color: #e1e1ff;
    /* Màu border */
    --border-color: black;
    --iframe-filter: grayscale(100%);
    --bg-lightgrey: #191c1d;
    --border-color-light: #333;
    --bg-color: #131617;
    --light-bg-color: #191c1d;
}

body {
    font-family: "Lato", sans-serif;
    background-color: var(--bg-color);
    color: var(--font-color);
    /* Sử dụng biến màu chữ */
    max-width: 100%;
    margin: 0 auto;
    font-size: calc(1rem + 0.25vh);
}

/* Mặc định màu font content */
.content .title {
    color: var(--primary-color);
    font-size: var(--font-size-primary);
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 5px;
    line-height: 20px;
}

.content h3 {
    font-size: var(--font-size-title);
    line-height: 40px;
    color: var(--font-color);
    font-weight: 700;
}

.content p {
    font-style: normal;
    font-weight: normal;
    font-size: var(--font-size-text);
    line-height: 24px;
    color: var(--text-color);
}

/* Trỏ vào */
button,
.btn,
select {
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
}

h1 {
    color: var(--heading-color);
    /* Sử dụng biến màu tiêu đề */
    font-family: "Sansita One", serif;
    font-size: 2rem;
    margin-bottom: 1vh;
}

p {
    font-size: 1.1rem;
    line-height: 1.6rem;
    color: var(--font-color);
    /* Sử dụng biến màu chữ */
}

a {
    color: var(--primary-color);
    text-decoration: none;
    border-bottom: 3px solid transparent;
    font-weight: bold;
}

a:hover,
a:focus {
    border-bottom: 3px solid currentColor;
}


.post-meta {
    font-size: 1rem;
    font-style: italic;
    display: block;
    margin-bottom: 4vh;
    color: var(--secondary-color);
}

nav {
    display: flex;
    justify-content: flex-end;
    padding: 20px 0;
}

.theme-switch-wrapper {
    display: flex;
    align-items: center;
}

.theme-switch {
    display: inline-block;
    position: relative;
    width: 60px;
    margin-left: 10px;
}

.theme-switch input {
    display: none;
}

.slider-container {
    display: flex;
    align-items: center;
    position: relative;
}

.slider {
    cursor: pointer;
    font-size: 2.4rem;
    position: absolute;
    transition: opacity 0.4s, transform 0.4s;
}

#sun {
    color: #000000;
    opacity: 1;
}

#moon {
    color: #ffffff;
    opacity: 0;
    transform: scale(0);
}

input:checked~.slider-container #sun {
    opacity: 0;
    transform: scale(0);
}

input:checked~.slider-container #moon {
    opacity: 1;
    transform: scale(1);
}

/* Đảm bảo rằng các thẻ a và p trong navbar thay đổi màu theo theme */
.navbar-nav .nav-link,
.navbar-brand,
.navbar-toggler,
.form-control,
.btn {
    color: var(--font-color);
}

.navbar-nav .nav-link {
    color: var(--font-color);
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
    color: var(--primary-color);
}

.dropdown-menu {
    background-color: var(--bg-color);
    border-color: var(--secondary-color);
}

.dropdown-item {
    color: var(--font-color);
}

.dropdown-item:hover,
.dropdown-item:focus {
    color: var(--primary-color);
    background-color: var(--bg-color);
}

/* .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='var(--font-color)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
} */

/* HEADER */
.navbar-nav,
.nav-item,
.nav-link {
    font-size: 1.6rem;
    margin: 5px;
}

/* .navbar-nav .nav-item {
    display: inline-flex;
}
.navbar-nav .nav-link {
    display: inline-flex;
} */
.navbar-nav .nav-link::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: #dc4f72;
    transition: all .5s;
    display: block;
}

.navbar-collapse .nav-item .nav-link {
    border: none;
}

.navbar-collapse i {
    color: var(--font-color);
}

.navbar-nav {
    align-items: center;
}

.navbar-nav .nav-link:hover::after {
    width: 50%;
}

.dropdown-toggle::after {
    border: none;
}

.navbar-nav .nav-link.active {
    color: #dc4f72;
}

.navbar-toggler {
    border: var(--font-color) solid 1px;
}

.navbar-light .navbar-toggler-icon {
    color: var(--font-color);
}

/* SEARCH */
#search-icon {
    font-size: 1.6rem;
    margin-right: 5px;
    border-radius: 50%;
    border: 1px solid;
    width: 40px;
    height: 40px;
    text-align: center;
    padding-top: 25%;
    color: var(--font-color);
    cursor: pointer;
    opacity: .7;
}

/* MODAL HEADER CLOSE */
#search-icon {
    cursor: pointer;
    font-size: 1.5rem;
}

.modal-content {
    padding: 0;
    margin: 0;
    border-radius: 10px;
}

.modal-header {
    border-bottom: none;
}

.modal-body {
    flex-grow: 1;
    display: flex;
    margin: 0;
    padding: 0;
}

.search-input {
    border: none;
    outline: none;
    width: 100%;
    padding: 15px;
    border-radius: 0;
    border-right: none;
    border: 1px solid transparent;
    border-top-left-radius: 8px;
    font-size: 1.8rem;
    border-bottom-left-radius: 8px;
}

.search-btn {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1.8rem;
    cursor: pointer;
    border-radius: 0;
    border-right: none;
    border: 1px solid transparent;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;

}

.search-btn:hover {
    background-color: rgb(233, 95, 118);
}

.close-btn {
    position: absolute;
    right: 0;
    top: -50px;
    font-size: 1.5rem;
    cursor: pointer;
}

/* MObile & Tablet: width < 1024px */
@media only screen and (max-width: 1023px) {
    .navbar-toggler {
        align-items: end;
    }

    .search {
        width: 100%;
        height: 40px;
        margin-bottom: 15px;
    }

    .search .container {
        width: 45px;
        height: 30px;
    }

    #search-icon.fas {
        font-size: 1.4rem;
        margin-right: 5px;
        margin: auto;
        border-radius: 50%;
        border: 1px solid;
        width: 100%;
        height: 100%;
        text-align: center;
        padding-top: 25%;
        color: var(--font-color);
        cursor: pointer;
        opacity: .7;
        justify-content: space-between;
        align-items: center;
    }

    .theme-switch-wrapper {
        position: absolute;
        top: 20px;
        right: 20px;
    }
}

/* ABOUT OUR */
.aboutOur {
    max-width: 100%;
    background-color: var(--light-bg-color);
}
/* ABOUT OUR LEFT */
.aboutOur__left {
    padding-left: 15px;
    padding-right: 48px;
}
.more__content {
    display: none;
}

/* ABOUT OUR RIGHT */
.shadow {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
.aboutOur__right {
    padding-left: 48px;
    padding-right: 15px;
}
.aboutOur__right img.img-curve {
    border-radius: 6px;
    transition: .3s ease-in-out;
}

.aboutOur__right img.img-curve:hover {
    transform: var(--transformY);
    transition: .3s ease-in-out;
}

/* Btn */
.theme-button {
    transition: 0.3s ease-out;
    display: inline-block;
    line-height: 52px;
    font-weight: 700;
    font-size: 14px;
    margin: 0px;
    padding: 0px 30px;
    text-transform: uppercase;
}

.btn-primary {
    color: #fff;
    background-color: #dc4f72;
    border-color: #dc4f72;
}

.btn-primary:hover {
    color: #fff;
    background-color: #d62f58;
    border-color: #cf2952;
}

.btn-primary:focus,
.btn-primary.focus {
    color: #fff;
    background-color: #d62f58;
    border-color: #cf2952;
    box-shadow: 0 0 0 0.2rem rgba(225, 105, 135, 0.5);
}

.btn-primary.disabled,
.btn-primary:disabled {
    color: #fff;
    background-color: #dc4f72;
    border-color: #dc4f72;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #cf2952;
    border-color: #c4274e;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(225, 105, 135, 0.5);
}

/* Mobile: width < 740px */
@media only screen and (max-width: 739px) {}

/* Tablet: width >= 740px and width < 1024px */
@media only screen and (min-width: 740px) and (max-width: 1024px) {
    .modal-body {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}